*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    color: #fff;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
}
/* main section styles start */
nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 0;
}
.nav-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
li a{
    display: block;
    color: #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    padding: 18px 36px;
}
header{
    width: 100%;
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-greating{
    color: #474747;
    font-family: Open Sans;
    font-size: 45px;    
    font-weight: 600;
}
.banner-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;  
}
p{
    color: #757575;
    padding: 20px 0 30px 0;
}
.banner .profile-pic{
    width: 38%;
    min-width: 250px;
}
/* main section styles end */

/* About section styles start */
.about{
    max-width: 1140px;
    padding: 130px 150px;
    background: #FFF8F3;
    margin: 130px auto;
}
.section-title{
    color: #181818;
    text-align: center;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}
.section-des{
    width: 827px;
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400; 
    padding: 30px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575; 
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.info-des{
    color: #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
/* About section styles start *

/* What I do section style */
.what-section{
    max-width: 1140px;
    margin-top: 130px;
    margin: 0 auto;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-box{
    margin-top: 20px;
    padding: 33px 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);   
}
.skill-title{
    color: #181818; 
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 30px 0 20px;
}
.skill-des{
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* What I do section style */

/* resume section */
.resume-section{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 130px;
}
.resume-container{
    display: flex;
    margin-top: 113px;
    gap: 24px;
}
.resume-column-title{
    color: #474747  ;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 30px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600; 
    padding: 10px 0;  
}
.resume-item-des{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.btn-center{
    text-align: center;
    margin: 50px auto 113px;
}
/* resume section */